doctype
html(lang='en',)

    head
        title FlexBox Sass grid generator

        // Main Meta information
        meta(charset='utf-8')

        meta(http-equiv='content-type', content='text/html; charset=UTF-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, user-scalable=yes')
        meta(name='keywords', content='flex,flexbox,sass,css,grid,column,columns,css,generator,generate')
        meta(name='description', content='FlexBox Sass grid generator')
        meta(name='author', content='Timohin Igor, timohin.i@gmail.com')

        link(rel='stylesheet', href='css/flex-sass-grid-generator.min.css')

    body
        header.container.-fluid
            .row
                div(style='background:red; height:100px; margin-bottom: 50px;')
        main.container
            .row
                .column.-xs-6
                    div(style='background:red; height:100px; margin-top: 10px; margin-bottom:30px;')
                .column.-xs-3
                    div(style='background:red; height:50px; margin-top: 10px; margin-bottom:30px;')
                .column.-xs-3
                    div(style='background:red; height:70px; margin-top: 10px; margin-bottom:30px;')


            .row.-xs-top
                .column.-xs-6
                    div(style='background:red; height:100px; margin-top: 10px; margin-bottom:30px;')
                .column.-xs-3
                    div(style='background:red; height:50px; margin-top: 10px; margin-bottom:30px;')
                .column.-xs-3
                    div(style='background:red; height:70px; margin-top: 10px; margin-bottom:30px;')

            .row.-xs-center
                .column.-xs-6
                    div(style='background:red; height:100px; margin-top: 10px; margin-bottom:30px;')
                .column.-xs-3
                    div(style='background:red; height:50px; margin-top: 10px; margin-bottom:30px;')
                .column.-xs-3
                    div(style='background:red; height:70px; margin-top: 10px; margin-bottom:30px;')

            .row.-xs-bottom
                .column.-xs-6.-xs-last
                    div(style='background:red; height:100px; margin-top: 10px; margin-bottom:30px;')
                .column.-xs-3.-xs-top.-xs-first
                    div(style='background:red; height:50px; margin-top: 10px; margin-bottom:30px;')
                .column.-xs-3
                    div(style='background:red; height:70px; margin-top: 10px; margin-bottom:30px;')

            .row.-xs-stretch
                .column.-xs-6
                    div(style='background:red; height:100px; margin-top: 10px; margin-bottom:30px;')
                .column.-xs-3
                    div(style='background:red; height:50px; margin-top: 10px; margin-bottom:30px;')
                .column.-xs-3
                    div(style='background:red; height:70px; margin-top: 10px; margin-bottom:30px;')

            .row.-xs-baseline
                .column.-xs-6
                    div(style='background:red; height:100px; margin-top: 10px; margin-bottom:30px;')
                .column.-xs-3
                    div(style='background:red; height:50px; margin-top: 10px; margin-bottom:30px;')
                .column.-xs-3
                    div(style='background:red; height:70px; margin-top: 10px; margin-bottom:30px;')

            .row.-xs-nowrap
                .column.-xs-6
                    div(style='background:red; height:100px; margin-top: 10px; margin-bottom:30px;')
                .column.-xs-3
                    div(style='background:red; height:50px; margin-top: 10px; margin-bottom:30px;')
                .column.-xs-3
                    div(style='background:red; height:70px; margin-top: 10px; margin-bottom:30px;')
                .column.-xs-6
                    div(style='background:red; height:100px; margin-top: 10px; margin-bottom:30px;')
                .column.-xs-3
                    div(style='background:red; height:50px; margin-top: 10px; margin-bottom:30px;')
                .column.-xs-3
                    div(style='background:red; height:70px; margin-top: 10px; margin-bottom:30px;')