/// @group variables

$base-font-size:              16;
$grid-columns:                12 !default;
$grid-gutter-width:           1.875rem !default; // 30px

/*
  Breakpoints variables Sass map
  ==============================

  Provided variables for media-query breakpoints array
*/
$grid-breakpoints: (
        xs:                   0,
        sm:                   540px,
        md:                   980px,
        lg:                   1024px,
        xl:                   1280px,
        xxl:                  1900px
) !default;

/*
  Grid containers
  ===============

  Define the maximum width of `.container` for different screen sizes.
*/
$container-max-widths: (
        sm: 480px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1890px
) !default;

$container-min-width: 320px;